.list-group .squere{
    height: 50px;
    line-height: 50px;
    background: #fff;
    font-weight:340;
    border:1px solid #ddd;
}

.list-group a{
    border:0;
    border-left:1px solid #ddd;
    border-right:1px solid  #ddd;
}
.list-group a:last-child{
    border-bottom:1px solid  #ddd;
}
.ypt_bor_ddd{
    border:1px solid #ddd;
}
.cAddress,.allAddress{
    margin:15px; padding: 10px;border-bottom:1px dashed #ddd
}
.cAddress:first-child span:not(:first-child){
    border:1px dashed red;margin-right:3px;padding:3px;
}
.city{
    margin-left: 10px;
}
.city span:not(:first-child){
    display:inline-block;margin:10px;padding:3px;
}
.district{
    margin: 10px 0 0 65px;
    color:#ccc;
}
.district span{
    padding:3px;
}
.custom{
    background-color:#fa483c ;
    color: #fff;
}
.paging {
    position: relative;height: 120px;
}
.paging ul{
    position:absolute;
    left:130px;
    top:18px;

}
.paging div{
    position:absolute;top:45px;right:140px;font-size:16px;z-index: 500;
}
.paging input{
    width: 50px;
}
.paging button{
    color:#3a3a3a;
}
.ypt-f18.squere:hover{
    cursor:pointer;
}
.list-group .squere{
    height: 50px;
    line-height: 50px;
    background: #fff;
    font-weight:340;
    border:1px solid #ddd;
}

.list-group a{
    border:0;
    border-left:1px solid #ddd;
    border-right:1px solid  #ddd;
}
.list-group a:last-child{
    border-bottom:1px solid  #ddd;
}
.col-xs-12.ypt-f20.title,.ypt-f18.ypt_pd_tb_10.title{
    padding-top: 13px;
    padding-bottom: 10px;
    border-bottom:1px solid #ededed
}

.diamond{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.btn-default:link{
    color: #333;
    background-color: #fff;
}
.btn-default:hover{
    color: #333;
    background-color: #fff;
}
.btn-default:visited{
    color: #333;
    background-color: #fff;
}
.btn-default:active{
    color: #333;
    background-color: #fff;
}

#table > thead > tr > th,
#table > tbody > tr > th,
#table > tfoot > tr > th,
#table > thead > tr > td,
#table > tbody > tr > td,
#table > tfoot > tr > td
{
    border:none;
}
#table{
    height: 10px;
}

#table thead{
    background-color: #ccc;
}
#table a:hover{
    color:red;
}